# main tool for symbolic math calculations
sympy==1.12

# for plotting graphs
matplotlib==3.8.0

# JupyterLab notebook interface
jupyterlab==4.0.11
jupyterlab-spellchecker

# for export notebooks as regular py files (human-readable diffs)
pynb==0.2.4 

