# main tool for symbolic math calculations
sympy==1.8

# for plotting graphs
matplotlib==3.3.4

# notebook interface
jupyter==1.0.0
jedi==0.17.2

# for export notebooks as regular py files (human-readable diffs)
pynb==0.2.4 

